nav {
  height: 90px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 99999;
  padding: 1.5em;
}
#compose {
  font-weight: 700;
  background-color: darksalmon;
}
