#new-tweet {
  display: flex;
  flex-direction: column;
}

#tweet-text {
  width: 100%;
  background-color: #009c9c;
    background-image: url(https://www.transparenttextures.com/patterns/45-degree-fabric-light.png);
  border-top: none;
  border-left: none;
  border-right: none;
  height: 32px;
  outline: 0;
}


.bottom-text {
  display: flex;
  justify-content:space-between;
}

#submit {
  font-family: Bungee, cursive;
  background-color: #4056a1;
  color: #FFFFFF;
}

.counter {
  font-family: Bungee, cursive;
}
#redCounter {
  font-family: Bungee, cursive;
  color: #FF0000 

}
.error {
  display: flex;
  justify-content: center;
  color: crimson;
  background-color: khaki;
  font-weight: 700;
  font-size: x-large;
}
#popup {
  display: none;
}