.tweets-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}
.ImageName {
  display: flex;
  align-items: center;
}

.tweet {
  display: flex;
  flex-direction: column;
  opacity: .7;
  border-top: solid;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  margin-bottom: 1.5em;
}
.effects {
  opacity: 1;
  box-shadow: 10px 10px;
}

article.tweet header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  align-content: center;
}
.imageName {
  display: flex;
  align-items: center;
}
.tag {
  opacity: 0.5;
  display: flex;
  align-items: center;
  color: firebrick;
}

.tweet-body {
  margin: 1.5em;
  border-bottom: solid;
  padding-bottom: 25px;
  margin-bottom: auto;
  word-break: break-all;
}

article.tweet footer {
  margin-left: 1.5em;
  margin-right: 1.5em;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}


.info {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  font-size: large;
  font-weight: 600;
}
#icons {
  opacity: 0;
}
/* Hovering effects */
article.tweet:hover{
  opacity: 1;
  box-shadow: 10px 10px;
}

article.tweet:hover #icons {
  opacity: 1;
}
